<ion-view title="UMKC">
  <ion-header-bar class="bar-subheader">
    <div class="row">
      <div class="col col 25">
        <a class="tab-item" href="#/tab/dash">Featured</a>
      </div>
      <div class="col col 25">
        <a class="tab-item" href="#tab/bulletin">Bulletin</a>
      </div>
      <div class="col col 25">
        <a class="tab-item" href="#tab/classified">Classifed</a>
      </div>
      <div class="col col 25">
        <a class="tab-item" href="#tab/search">Search</a>
      </div>
    </div>
  </ion-header-bar>

  <ion-content>

Classified

  </ion-content>
  </ion-view>
