<ion-view view-title="UMKC">
  <ion-header-bar class="bar-subheader tabs-striped tabs-top">
    <div class="row">
      <div class="col col-20">
        <a class="tab-item" href="#/tab/dash">Featured</a>
      </div>
      <div class="col col-20">
        <a class="tab-item" href="#tab/bulletin">Bulletin</a>
      </div>
      <div class="col col-20">
        <a class="tab-item tab-item-active" href="#tab/following">Following</a>
      </div>
      <div class="col col-20">
        <a class="tab-item" href="#tab/classified">Classifed</a>
      </div>
      <div class="col col-20">
        <a class="tab-item" href="#tab/search">Search</a>
      </div>
    </div>
  </ion-header-bar>

  <ion-content class="padding">

    <div class="row">
      <div class="col col-50" >
        <div class="list-card">
          <a class="item item-image"><img class="full-image" src="img/event9.jpg"></a>
          <div class="item item-divider footerCard">
            Six Flags
            <br/>
            <i class="icon ion-ios-heart"></i>
          </div>
        </div>
      </div>

      <div class="col col-50" >
        <div class="list-card">
          <a class="item item-image"><img class="full-image" src="img/event8.jpg"></a>
          <div class="item item-divider footerCard">
            Literacy Event
            <br/>
            <i class="icon ion-ios-heart"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col col-50" >
        <div class="list-card">
          <a class="item item-image"><img class="full-image" src="img/event7.jpg"></a>
          <div class="item item-divider footerCard">
            WorkAholics
            <br/>
            <i class="icon ion-ios-heart"></i>
          </div>
        </div>
      </div>

      <div class="col col-50" >
        <div class="list-card">
          <a class="item item-image"><img class="full-image" src="img/event6.jpg"></a>
          <div class="item item-divider footerCard">
            Basket Ball
            <br/>
            <i class="icon ion-ios-heart"></i>
          </div>
        </div>
      </div>
    </div>

  </ion-content>

</ion-view>