<ion-view view-title="Dashboard">
  <ion-content class="padding">
  
<div class="row">
  <div class="col">Featured</div>
  <div class="col">Bulletin</div>
  <div class="col">Classified</div>
  <div class="col">Search</div>
</div>
      
<div class="row">
<div class="card col" >
  <div class="item item-text-wrap" style="height:160px;">
    
  </div>
  <div class="item item-divider">
    
  </div>
</div>
    <div class="card col">
  <div class="item item-text-wrap"style="height:160px;">
    
  </div>
  <div class="item item-divider">
  
  </div>
</div>
</div>
      
  </ion-content>
</ion-view>
