<ion-tabs class="tabs-icon-only tabs-dark">

  <!-- Home Tab -->
  <ion-tab icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>

  <!-- Mail Tab -->
  <ion-tab icon-off="ion-ios-email-outline" icon-on="ion-ios-email" href="#/tab/mail">
    <ion-nav-view name="tab-mail"></ion-nav-view>
  </ion-tab>

  <!-- Profile Tab -->
  <ion-tab icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/tab/profile">
    <ion-nav-view name="tab-profile"></ion-nav-view>
  </ion-tab>

  <!-- Adding Tab -->
  <ion-tab icon-off="ion-ios-plus-outline" icon-on="ion-ios-plus" href="#/tab/post">
    <ion-nav-view name="tab-post"></ion-nav-view>
  </ion-tab>

</ion-tabs>