<ion-view title="Saved">
    <ion-content has-header="true" padding="true">

      <div class="row">
        <div class="list cards col col-50">
          <div class="list card" style="box-shadow:0 1px 5px black; margin:0;">
          <a class="item item-image" href="" style="height:150px;">
          <img class="full-image" src="img/event7.jpg">
          </a>
          <div class="item item-divider text-center " Style="height:50px;">
           <p style="font-size: small;">  stuff </p>
          <div class="item-icon-left item-icon-right">
          <i style="font-size: small; padding-top:30px;" class="icon ion-pin "></i>
          <i style="font-size: x-small; padding-top:30px;" class="icon ion-ios-time">4hr</i>
        </div>
          </div>
        </div>
        </div>

        <div class="list cards col col-50">
          <div class="list card" style="box-shadow:0 1px 5px black; margin:0;">
          <a class="item item-image" href="" style="height:150px;">
          <img class="full-image" src="img/event10.jpg">
          </a>
          <div class="item item-divider text-center " Style="height:50px;">
           <p style="font-size: small;">  More Stuff </p>
          <div class="item-icon-left item-icon-right">
          <i style="font-size: small; padding-top:30px;" class="icon ion-pin "></i>
          <i style="font-size: x-small; padding-top:30px;" class="icon ion-ios-time">4hr</i>
        </div>
          </div>
          </div>
        </div>
    </div>

  </ion-content>
</ion-view>
