      <!-- title field -->
        <div class="list card">
          <div class="item item-divider">
            Title
          </div>
          <label class="item item-input">
            <input type="text" placeholder="Add Title">
          </label>
        </div>

          <!-- Price field -->
          <div class="list card">
            <div class="item item-divider">
              Price of Item
            </div>
            <label class="item item-input">
              $<input type="number">
            </label>
          </div>

        <!---Photo Field-->
          <div class="list card">
            <div class="item item-divider">
              Photos
            </div>
              <div class="item item-body">
                  <i class="icon ion-ios-camera" style="font-size:2em;"></i>
              </div>
          </div>

          <!---Details Field-->
            <div class="list card">
              <div class="item item-divider">
                Details
              </div>
              <label class="item item-input">
                <textarea type="text" placeholder="Add Details" style="height:100px;"></textarea>
              </label>
            </div>
            <!-- submit button -->
            <button class="button button-block button-balanced">Submit</button>
