      <!-- title field -->
        <div class="list card">
          <div class="item item-divider">
            Title
          </div>
          <label class="item item-input">
            <input type="text" placeholder="Add Title">
          </label>
        </div>

        <!-- date & field -->
          <div class="card">
            <div class="item item-divider">
              Date & Time
            </div>
            <label class="item item-input">
              <input type="date" placeholder="Add Date">
            </label>
            <label class="item item-input">
              <input type="time" placeholder="Add Time">
            </label>
          </div>

          <!-- Location field -->
          <div class="list card">
            <div class="item item-divider">
              Where
            </div>
            <label class="item item-input">
              <input type="text" placeholder="Add Location">
            </label>
          </div>

        <!---Photo Field-->
        <div class="list card">
          <div class="item item-divider">
            Photos
          </div>
            <div class="item item-body">
                <i class="icon ion-ios-camera" style="font-size:2em;"></i>
            </div>
        </div>

          <!---Details Field-->
            <div class="list card">
              <div class="item item-divider">
                Details
              </div>
              <label class="item item-input">
                <textarea type="text" placeholder="Add Details" style="height:100px;"></textarea>
              </label>
            </div>
            <!-- submit button -->
            <button class="button button-block button-balanced">Submit</button>
