<div class="card">
    <div class="box">
        <div class="item-image">
            <ion-slide-box on-slide-changed="slideChanged($index)"
                show-pager="true" does-continue="true" delegate-handle="lichenslide" auto-play="true">
                <ion-slide ng-repeat="lichen in lichenList">
                    <img ng-src="img/lichen/{{lichen.img}}.jpg">
                </ion-slide>
            </ion-slide-box>
        </div>
    </div>
    <div class="item item-content">
        <div class="row">
            <span class="col h3 text-center">{{name}}</span>
        </div>
        <div class="row">
            <span class="col text-center">
                {{descrip}}
            </span>
        </div>
    </div>
</div>