<div class="list card">
    <div class="item item-body">
        <img class="full-image" ng-src="img/colonies/{{colony.img}}_sil.jpg">
        <div class="padding">
            <h1 class="text-left">Clue:</h1>
            <p>
                {{colony.hint}}
            </p>
        </div>
    </div>
</div>
<span class="row text-center h2">
    <span class="col">Found it?</span>
</span>
<div class="row">
    <div class="list col">
      <div class="item item-input-inset">
        <label class="item item-input-wrapper">
          <i class="icon ion-lock-combination placeholder-icon"></i>
          <input ng-keyup="$event.keyCode == 13 && discover(keycode)" type="text" placeholder="Key Code" ng-model="keycode"/>
        </label>
        <button ng-click="discover(keycode)" class="button button-large button-balanced">
            Submit
        </button>
      </div>
    </div>
</div>