<ion-view title="Profile">
    <ion-content has-header="true" padding="true" style="background-color:#EDEDED;">

          <img id="profile-image" src="img/guy.png"></img>

          <div class="text-center">
              <h3 style="padding-top:8px;">This Dude </h3> <!--name-->
              <h5>Sophomore Engineering Student / IEEE president</h5>
              <div class="row" style="position: relative; top:-16px;">
              <h5 class="col col-25 col-offset-25 ">10 posts</h5><h5 class="col col-25">15 saved </h5>
            </div>
        </div>
        <div>
          <h4>My Posts</h4>
          <div class="row">
            <!-- this is just dummy data need to connect it with the server -->
            <div class="list cards col col-50">
              <div class="list card" style="box-shadow:0 1px 5px black; border-radius: 4px; margin:0;">
              <a class="item item-image" href="" style="height:150px;">
              <img class="full-image" src="img/event7.jpg">
              </a>
              <div class="item item-divider text-center " Style="height:50px;">
               <p style="font-size: small;">  stuff </p>
              <div class="item-icon-left item-icon-right">
              <i style="font-size: x-small; padding-top:30px;" class="icon ion-ios-star">100</i>
              <i style="font-size: x-small; padding-top:30px;" class="icon ion-ios-time">4hr</i>
            </div>
              </div>
            </div>
            </div>
            <!-- this is just dummy data need to connect it with the server -->
            <div class="list cards col col-50">
              <div class="list card" style="box-shadow:0 1px 5px black; border-radius: 4px; margin:0;">
              <a class="item item-image" href="" style="height:150px;">
              <img class="full-image" src="img/event10.jpg">
              </a>
              <div class="item item-divider text-center " Style="height:50px;">
               <p style="font-size: small;">  More Stuff </p>
              <div class="item-icon-left item-icon-right">
              <i style="font-size: x-small; padding-top:30px;" class="icon ion-ios-star">100</i>
              <i style="font-size: x-small; padding-top:30px;" class="icon ion-ios-time">4hr</i>
            </div>
              </div>
              </div>
            </div>
        </div>
    </ion-content>
</ion-view>
