<ion-view>
    <ion-header-bar align-title="center" class="bar-balanced">
          <button class="button button-clear icon-left ion-chevron-left"
                  ui-sref="location({lid: {{lid}}})">Back</button>
        <h1 class="title">{{colony.name}}</h1>
          <button class="button button-clear icon-right ion-ios-home"
                  ui-sref="home"></button>
    </ion-header-bar>
    <ion-content>
        <ion-slide-box show-pager="true">
            <ion-slide>
                <div class="list card" >
                    <div class="item item-body">
                        <img class="full-image" ng-src="img/colonies/{{colony.img}}.jpg">
                        <div class="row text-center">
                            <h3>FOUND IT!</h3>
                        </div>
                        <div class="padding row">
                            <p>
                                some stuff and what nots.
                            </p>
                        </div>
                    </div>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="list card">
                    <div class="item item-body">
                        <img class="full-image" src="img/colonies/{{colony.img}}.jpg">
                        <div class="row text-center">
                            <h3>another</h3>
                        </div>
                        <div class="row padding ">
                            <p>
                                lichens
                            </p>
                        </div>
                    </div>
                </div>
            </ion-slide>
        </ion-slide-box>
    </ion-content>
</ion-view>