<ion-view>

    <ion-header-bar align-title="center" class="bar-positive">
        <h1 class="title">Lichen Scavenger Hunt</h1>
    </ion-header-bar>

    <ion-content>
        <div style="text-align:center;" class="list card">

            <div class="item item-body center">
                <div style="max-width:500px;max-height:500px" class="item item-image">
                    <img class="center" src="img/lichen1.png">
                </div>
                <h1><b>Be the first to find all the lichen colonies in Kansas City</b></h1>
                <button class="button button-large button-positive" ui-sref="signin">
                    Get Started
                </button>
            </div>

        </div>
    </ion-content>
</ion-view>