<ion-tabs class="tabs-icon-top tabs-dark">

  <ion-tab title="Browse" icon="ion-eye" ui-sref="home.browse.featured">
      <ion-nav-view name="browse"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Pin"  icon="ion-pin" ui-sref="home.pin">
      <ion-nav-view name="pin"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Profile" icon="ion-ios-person" ui-sref="home.profile">
      <ion-nav-view name="profile"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Post" icon="ion-ios-compose-outline" ui-sref="home.post">
      <ion-nav-view name="post"></ion-nav-view>
  </ion-tab>
</ion-tabs>
