<ion-view>
    <ion-header-bar align-title="center" class="bar-balanced">
        <button class="button button-clear icon ion-ios-home" ui-sref="home"></button>
        <h1 class="title">Locations</h1>
        <button class="button button-clear icon ion-android-map"
                ui-sref="map" i></button>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <span ng-repeat="loc in locations track by $index"
                  ui-sref="location({lid: {{$index+1}}})"
                class=" item item-text-wrap item-thumbnail-left item-icon-right">
                <img  ng-src="img/locations/{{loc.img}}">
                <button class="button button-clear icon ion-chevron-right" i></button>
                
                <div><strong>{{loc.name}}</strong></div>
                
                <p name="address" style="padding-bottom: .2em;">
                    {{loc.address}}
                </p>
                <p>{{loc.days}}<br/>{{loc.hours}}</p>
                <p class="text-right">
                    <a target="_blank" href="{{loc.url}}">
                        {{loc.website}}
                    </a>
                </p>
            </span>
        </div>
    </ion-content>
</ion-view>