<ion-view>
    <ion-header-bar align-title="center" class="bar-positive">
        <h1 class="title">Locations</h1>
          <button class="button button-clear icon ion-android-map"
                  ui-sref="map" i></button>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <a class="item item-thumbnail-left item-icon-right" href="#/locations/1">
                <img src="img/unionstation.jpg">
                <h2>Union Station</h2>
                <p>some things about union station
                    <button class="button button-clear icon ion-chevron-right" i></button>
                </p>
            </a>
            <a class="item item-thumbnail-left item-icon-right" href="#/locations/2">
                <img src="img/plugprojects.jpg">
                <h2>Plug Projects</h2>
                <p>blah
                    <button class="button button-clear icon ion-chevron-right" i></button>
                </p>
            </a>
            <a class="item item-thumbnail-left item-icon-right" href="#/locations/3">
                <img src="img/anitab.jpeg">
                <h2>Anita B. Gorman</h2>
                <p>blah
                    <button class="button button-clear icon ion-chevron-right" i></button>
                </p>
            </a>
            <a class="item item-thumbnail-left item-icon-right" href="#/locations/4">
                <img src="img/maaa.jpg">
                <h2>Mid-America Arts Alliance</h2>
                <p>blah
                    <button class="button button-clear icon ion-chevron-right" i></button>
                </p>
            </a>
        </div>
    </ion-content>
</ion-view>