<ion-view>
    <ion-header-bar align-title="center" class="bar-balanced">
          <button class="button button-clear icon-left ion-chevron-left"
                  ui-sref="mainlocs" i>Back</button>
        <h1 class="title">SubLocation Name</h1>
          <button class="button button-clear icon-right ion-ios-home"
                  ui-sref="home" i></button>
    </ion-header-bar>
    <ion-content>
        <div class="row">
            <div class="col col-50" >
                <div class="list card" style="margin:0;">
                    <a class="item item-image" ui-sref="sublocitem({lid: 2, iid:1})">
                        <img src="img/lichen1.jpg" style="height:8em;width:8em;">
                    </a>
                    <p class="item item-text-wrap" style="border:none; padding: 3px; text-align: center;">
                        Teloschistes Chrysopthalmus
                    </p>
                </div>
            </div>

            <div class="col col-50" >
                <div class="list card" style="margin:0; width:100%; height:100%;">
                    <a class="item item-image" ui-sref="sublocitem({lid: 2, iid:2})">
                        <img src="img/lichen2.jpg" style="height:8em;width:8em;">
                    </a>
                    <p class="item item-text-wrap" style="border:none; padding: 3px; text-align: center;">
                        Teloschistes Chrysopthalmus
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col col-50" >
                <div class="list card" style="margin:0; width:100%; height:100%;">
                    <a class="item item-image" ui-sref="sublocitem({lid: 2, iid:3})">
                        <img src="img/lichen3.jpg" style="height:8em;width:8em;">
                    </a>
                    <p class="item item-text-wrap" style="border:none; padding: 3px; text-align: center;">
                        Teloschistes Chrysopthalmus
                    </p>
                </div>
            </div>
            <div class="col col-50" >
                <div class="list card" style="margin:0;">
                    <a class="item item-image" ui-sref="sublocitem({lid: 2, iid:4})">
                        <img src="img/lichen4.jpg" style="height:8em; width:8em;">
                    </a>
                    <p class="item item-text-wrap" style="border:none; padding: 3px; text-align: center;">
                        Teloschistes Chrysopthalmus
                    </p>
                </div>
            </div>
        </div>
        <div class="item item-divider">
            Discovered Lichens
        </div>
        <div class="row">
            <div class="col col-50" >
                <div class="list card" style="margin:0;">
                    <a class="item item-image" ui-sref="sublocitem({lid: 2, iid:5})">
                        <img src="img/lichen5.jpg" style="height:8em; width:8em;">
                    </a>
                    <p class="item item-text-wrap" style="border:none; padding: 5px 3px; text-align: center;">
                        Teloschistes Chrysopthalmus
                    </p>
                </div>
            </div>
            
        </div>
    </ion-content>
</ion-view>