<ion-view>
    <ion-header-bar align-title="center" class="bar-balanced">
          <button class="button button-clear icon-left ion-chevron-left"
                  ui-sref="mainlocs" i>Back</button>
        <h1 class="title">SubLocation Name</h1>
          <button class="button button-clear icon-right ion-ios-home"
                  ui-sref="home" i></button>
    </ion-header-bar>
    <ion-content style="text-align:center;">
        <div class="row">
            <div class="col col-50" >
                <div class="list-card">
                    <div class="item item-image" >
                        <img class="full-image" src="img/lichen1x.jpg">
                    </div>
                    <div class="item item-divider footerCard">
                        <button class="button button-small button-balanced"
                      ui-sref="sublocitem({lid: 2, iid:1})" i>
                            species 1 name here
                        </button>
                    </div>
                </div>
            </div>

            <div class="col col-50" >
                <div class="list-card">
                    <div class="item item-image">
                        <img class="full-image" src="img/lichen1x.jpg">
                    </div>
                    <div class="item item-divider footerCard">
                        <button class="button button-small button-balanced"
                      ui-sref="sublocitem({lid: 2, iid:2})" i>
                            species 2 name here
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-50" >
                <div class="list-card">
                    <div class="item item-image">
                        <img class="full-image" src="img/lichen1x.jpg">
                    </div>
                    <div class="item item-divider footerCard">
                        <button class="button button-small button-balanced"
                      ui-sref="sublocitem({lid: 2, iid:3})" i>
                            species 3 name here
                        </button>
                    </div>
                </div>
            </div>
            <div class="col col-50" >
                <div class="list-card">
                    <div class="item item-image">
                        <img class="full-image" src="img/lichen1x.jpg">
                    </div>
                    <div class="item item-divider footerCard">
                        <button class="button button-small button-balanced"
                      ui-sref="sublocitem({lid: 2, iid:4})" i>
                            species 4 name here
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>