<ion-view>

    <ion-header-bar align-title="center" class="bar-balanced">
        <button class="button button-clear icon ion-refresh"></button>
        <button class="button button-clear icon ion-navicon-round"></button>
        <button ng-click="randData()" class="button button-clear icon ion-stats-bars"></button>
        <h1 class="title">Admin</h1>
        <button ng-click="upload()" class="button button-clear icon ion-ios-cloud-upload"></button>
    </ion-header-bar>

    <ion-content>
        <div class="row">
            <div class="col">
                <label class="item item-input item-select">
                  <div class="input-label">
                    Location
                  </div>
                    <select ng-change="updateLoc()" ng-model="selected.loc" ng-options="loc.name for loc in locations"></select>
                </label>
            </div>
            <div class="col">
                <label class="item item-input item-select">
                  <div class="input-label">
                    Colony
                  </div>
                  <select ng-change="updateColo()" ng-model="selected.colo" ng-options="colo.name for colo in colonies"></select>
                </label>
            </div>
            <div class="col">
                <label class="item item-input item-select">
                  <div class="input-label">
                    Lichen
                  </div>
                  <select ng-change="updateLich()" ng-model="selected.lich" ng-options="lich.name for lich in lichens"></select>
                </label>
            </div>
        </div>
        <hr/>
        <div class="row">
            <span class="col text-center h3">{{Name}}<span>
        </div>
        <div class="row">
            <div ng-if="Name=='Location'" class="col list">
                <label class="item item-input">
                  <span class="input-label">Name</span>
                  <input type="text" ng-model="location1.name">
                </label>
                <span class="row">
                  <span class="col">Times</span>
                  <span class="col" ng-repeat="time in location1.times">
                      <div class="row">
                        <input class="col" type="text" ng-model="time.days">
                      </div>
                      <div class="row">
                        <input class="col" type="text" ng-model="time.hours">
                      </div>
                  </span>
                </span>
                <label class="item item-input">
                  <span class="input-label">Available</span>
                  <input type="date" ng-model="location1.avail">
                </label>
                <label class="item item-input">
                  <span class="input-label">Address</span>
                  <input type="text" ng-model="location1.address">
                </label>
                <label class="item item-input">
                  <span class="input-label">Url</span>
                  <input type="text" ng-model="location1.url">
                </label>
                <label class="item item-input">
                  <span class="input-label">Website</span>
                  <input type="text" ng-model="location1.website">
                </label>
                <label class="item item-input">
                  <span class="input-label">Image</span>
                  <input type="text" ng-model="location1.img">
                </label>
                <span class="row">
                  <span class="input-label">Colonies</span>
                  <input type="text" ng-model="location1.colonies">
                </span>
            </div>
            <div ng-if="Name=='Colony'" class="col list">
                <span class="row">
                  <span class="input-label">Id</span>
                  <input disabled type="text" ng-model="colony1.id">
                </span>
                <hr/>
                <span class="row">
                  <span class="input-label">Name</span>
                  <textarea rows="2" cols="60" ng-model="colony1.name">
                  </textarea>
                </span>
                <hr/>
                <span class="row">
                  <span class="input-label">Description</span>
                  <textarea rows="2" cols="60" ng-model="colony1.descrip">
                  </textarea>
                </span>
                <hr/>
                <span class="row">
                  <span class="input-label">Hint</span>
                  <textarea rows="2" cols="60" ng-model="colony1.hint">
                  </textarea>
                </span>
                <hr/>
                <span class="row">
                  <span class="input-label">Image</span>
                  <textarea rows="2" cols="60" ng-model="colony1.img">
                  </textarea>
                </span>
                <hr/>
                <span class="row">
                  <span class="input-label">Image Silhouette</span>
                  <textarea rows="2" cols="60" ng-model="colony1.imgsil">
                  </textarea>
                </span>
                <hr/>
                <span class="row">
                  <span class="input-label">Lichen</span>
                  <input type="text" ng-model="colony1.lichen">
                </span>
            </div>
            <div ng-if="Name=='Lichen'" class="col list">
                <span class="row">
                  <span class="input-label">Id</span>
                  <input disabled type="text" ng-model="lichen1.id">
                </span>
                <hr/>
                <span class="row">
                  <span class="input-label">Name</span>
                  <textarea rows="2" cols="60" ng-model="lichen1.name">
                  </textarea>
                </span>
                <hr/>
                <span class="row">
                  <span class="input-label">Description</span>
                  <textarea rows="2" cols="60" ng-model="lichen1.descrip">
                  </textarea>
                </span>
                <hr/>
                <span class="row">
                  <span class="input-label">Image</span>
                  <textarea rows="2" cols="60" ng-model="lichen1.img">
                  </textarea>
                </span>
            </div>
            <div class="col" style="height:400px">
                <select ng-model="chartType">
		<option value="pie">pie</option>
		<option value="bar">bar</option>
		<option value="line">line</option>
		<option value="point">point</option>
		<option value="area">area</option>
                </select>

                <br />

                <div id="chart1" ac-chart="chartType" ac-data="data1" ac-config="config1"></div>
            </div>
    </ion-content>
</ion-view>