<ion-view>
    <ion-header-bar align-title="center" class="bar-balanced">
        <button class="button button-clear icon ion-ios-home" ui-sref="home"></button>
        <h1 class="title">Locations</h1>
        <button class="button button-clear icon ion-android-map"
                ui-sref="map" i>Map</button>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <span ng-repeat="loc in locations track by $index"
                  ui-sref="location({lid: {{$index+1}}})"
                class=" item item-text-wrap item-thumbnail-left item-icon-right">
                <img  ng-src="img/locations/{{loc.img}}">
                <button class="button button-clear icon ion-chevron-right" i></button>
                
                <div><strong>{{loc.name}}</strong></div>
                
                <p name="address" style="font-size:.8em;">
                    {{loc.address}}<br/>
                </p>
                <div class="text-center" style="font-size:.8em;">
                    Lichen Available: <b>{{loc.avail}}</b>
                </div>
                <div class="row">
                    <span class="col times text-center" ng-repeat="time in loc.times">
                        <span>{{time.days}}</span><br/><b>{{time.hours}}</b>
                    </span>
                </div>
                <div class="text-right">
                    <a target="_blank" href="{{loc.url}}">
                        {{loc.website}}
                    </a>
                </div>
            </span>
        </div>
    </ion-content>
</ion-view>