<ion-view>
    <ion-header-bar align-title="center" class="bar-balanced">
          <button class="button button-clear icon-left ion-chevron-left"
                  ui-sref="locations" i>Back</button>
        <h1 class="title">{{loc.name}}</h1>
          <button class="button button-clear icon-right ion-ios-home"
                  ui-sref="home" i></button>
    </ion-header-bar>
    <ion-content>
        <div id="notAvail" class="text-center hidden">
            The lichen at this location will be available on<br/>
            <h3>{{loc.avail}}</h3>
        </div>
        <div id="Avail" class="hidden">
            <div ng-if="undiscovered.length>0" class="item item-divider">
                Undiscovered Lichen
            </div>
            <div class="row">
                <div class="col col-50">
                    <div ng-repeat="colony in undiscovered"><div ng-if="$even" class="row">
                        <div class="list card" style="margin:0;"
                              ui-sref="colony.unknown({lid: {{loc.id}}, cid:{{colony.id}}})">
                            <div class="item">
                                <a class="item-image">
                                    <img ng-src="img/colonies/{{colony.imgsil}}.jpg">
                                </a>
                                <p class="item-text-wrap text-center">
                                    Colony {{colony.id}}
                                </p>
                            </div>
                        </div>
                    </div></div>
                </div>
                <div class="col col-50">
                    <div ng-repeat="colony in undiscovered"><div ng-if="$odd" class="row">
                        <div class="list card" style="margin:0;"
                              ui-sref="colony.unknown({lid: {{loc.id}}, cid:{{colony.id}}})">
                            <div class="item">
                                <a class="item-image">
                                    <img ng-src="img/colonies/{{colony.imgsil}}.jpg">
                                </a>
                                <p class="item-text-wrap text-center">
                                    Colony {{colony.id}}
                                </p>
                            </div>
                        </div>
                    </div></div>
                </div>
            </div>
            <div ng-if="discovered.length>0" class="item item-divider">
                Discovered Lichen
            </div>
            <div class="row">
                <div class="col col-50">
                    <div ng-repeat="colony in discovered"><div ng-if="$even" class="row">
                        <div class="list card" style="margin:0;"
                              ui-sref="colony.known({lid: {{loc.id}}, cid:{{colony.id}}})">
                            <div class="item">
                                <a class="item-image">
                                    <img ng-src="img/colonies/{{colony.img}}.jpg">
                                </a>
                                <p class="item-text-wrap text-center">
                                    Colony {{colony.name}}
                                </p>
                            </div>
                        </div>
                    </div></div>
                </div>
                <div class="col col-50">
                    <div ng-repeat="colony in discovered"><div ng-if="$odd" class="row">
                        <div class="list card" style="margin:0;"
                              ui-sref="colony.known({lid: {{loc.id}}, cid:{{colony.id}}})">
                            <div class="item">
                                <a class="item-image">
                                    <img ng-src="img/colonies/{{colony.img}}.jpg">
                                </a>
                                <p class="item-text-wrap text-center">
                                    Colony {{colony.name}}
                                </p>
                            </div>
                        </div>
                    </div></div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>