<ion-view title="Browsing">
    <ion-header-bar class="bar-subheader tabs-striped tabs-top">
        <div class="row">
            <div class="col col-20">
              <a class="tab-item tab-item-active" ui-sref="home.browse.featured">Featured</a>
            </div>
            <div class="col col-20">
              <a class="tab-item" ui-sref="home.browse.bulletin">Bulletin</a>
            </div>
            <div class="col col-20">
              <a class="tab-item" ui-sref="home.browse.following">Following</a>
            </div>
            <div class="col col-20">
              <a class="tab-item" ui-sref="home.browse.classified">Classifed</a>
            </div>
            <div class="col col-20">
              <a class="tab-item" ui-sref="home.browse.search">Search</a>
            </div>
        </div>
    </ion-header-bar>
    <ion-content has-header="true" padding="true">
      <div ui-view name="browsing"></div>
    </ion-content>
</ion-view>