<ion-view title="UMKC">
    <ion-nav-buttons side="primary">
      <button class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-tabs class="tabs-icon-top tabs-striped tabs-positive tabs-top">
        <ion-tab title="Featured" icon="ion-star" ui-sref="home.browse.featured">
        </ion-tab>
        <ion-tab title="Bulletin"  icon="ion-calendar" ui-sref="home.browse.bulletin">
        </ion-tab>
        <ion-tab title="Following" icon="ion-android-people" ui-sref="home.browse.following">
        </ion-tab>
        <ion-tab title="Classified" icon="ion-android-list" ui-sref="home.browse.classified">
        </ion-tab>
        <ion-tab title="Search" icon="ion-ios-search" ui-sref="home.browse.search">
        </ion-tab>
    </ion-tabs>
    <ion-content has-header="true" padding="true">
      <div ui-view name="browsing"></div>
    </ion-content>
</ion-view>