<ion-modal-view class="image-modal black">

  <ion-header-bar class="bar-clear">
    <div class="buttons">
      <button class="button button-clear icon-left ion-ios-close-empty" ng-click="closeModal()"></button>
    </div>
  </ion-header-bar>


    <!-- slide box images-->
    <ion-slide-box ng-click="closeModal()" show-pager="true" pager-click="navSlide(index)">
        <ion-slide>
          <img class="full-image" ng-src="{{post.images[0]}}" style="max-width: 100%; max-height: 100%; bottom: 0; left: 0; margin: auto; overflow: auto; position: fixed; right: 0; top: 0; padding:0 10px;"></img>
        </ion-slide>
        <ion-slide>
          <img class="full-image" ng-src="{{post.images[0]}}" style="max-width: 100%; max-height: 100%; bottom: 0; left: 0; margin: auto; overflow: auto; position: fixed; right: 0; top: 0; padding:0 10px;"></img>
        </ion-slide>
        <ion-slide>
          <img class="full-image" ng-src="{{post.images[0]}}" style="max-width: 100%; max-height: 100%; bottom: 0; left: 0; margin: auto; overflow: auto; position: fixed; right: 0; top: 0; padding:0 10px;"></img>
        </ion-slide>
    </ion-slide-box>

</ion-modal-view>
