<ion-modal-view>

    <ion-header-bar class="bar-clear">
      <!-- X button to hide modal in header -->
      <i ng-click="modal.hide()"style="padding-left:10px;font-size:4em;"class="ion-ios-close-empty"></i>
    </ion-header-bar>
    <ion-content  style="background-color:black;top:0;"  >
      <!-- slide box for images-->
    <ion-slide-box show-pager="true">

    <ion-slide>
      <img class="full-image" ng-src="{{post.images[0]}}"></img>
    </ion-slide>
    <ion-slide>
      <img class="full-image" ng-src="{{post.images[0]}}"></img>
    </ion-slide>
    <ion-slide>
      <img class="full-image" ng-src="{{post.images[0]}}"></img>
    </ion-slide>
    </ion-slide-box>

    </ion-content>
</ion-modal-view>
